@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-ms-overflow-style: scrollbar;
-webkit-tap-highlight-color: transparent;
font-family: 'Montserrat', sans-serif;
}

@-ms-viewport {
width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
display: block;
}

body {
margin: 0;
font-family: Barlow, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: #000000;
text-align: left;
font-family: 'Montserrat', sans-serif;
}

.cm-dark-bg {
    background-color: #f9f8ee;
}

[tabindex="-1"]:focus {
outline: 0 !important;
}

hr {
box-sizing: content-box;
height: 0;
overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 0.5rem;
}

p {
margin-top: 0;
margin-bottom: 1rem;
}

p:last-child {
margin-bottom: 0px;
}

abbr[title],
abbr[data-original-title] {
text-decoration: underline;
-webkit-text-decoration: underline dotted;
text-decoration: underline dotted;
cursor: help;
border-bottom: 0;
}

address {
margin-bottom: 1rem;
font-style: normal;
line-height: inherit;
}

ol,
ul,
dl {
margin-top: 0;
margin-bottom: 1rem;
list-style-type: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
margin-bottom: 0;
}

dt {
font-weight: 700;
}

dd {
margin-bottom: .5rem;
margin-left: 0;
}

blockquote {
margin: 0 0 1rem;
}

dfn {
font-style: italic;
}

b,
strong {
font-weight: bolder;
}

small {
font-size: 80%;
}

sub,
sup {
position: relative;
font-size: 75%;
line-height: 0;
vertical-align: baseline;
}

sub {
bottom: -.25em;
}

sup {
top: -.5em;
}

a {
color: #024099;
text-decoration: none;
background-color: transparent;
-webkit-text-decoration-skip: objects;
transition: color .3s;
outline: none !important;
}

a:hover {
color: #024099;
text-decoration: none;
}

a:not([href]):not([tabindex]) {
color: inherit;
text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
color: inherit;
text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
outline: 0;
}

pre,
code,
kbd,
samp {
font-family: monospace, monospace;
font-size: 1em;
}

pre {
margin-top: 0;
margin-bottom: 1rem;
overflow: auto;
-ms-overflow-style: scrollbar;
}

figure {
margin: 0 0 1rem;
}

img {
vertical-align: middle;
border-style: none;
max-width: 100%;
}

svg:not(:root) {
overflow: hidden;
}

table {
border-collapse: collapse;
}

caption {
padding-top: 0.75rem;
padding-bottom: 0.75rem;
color: #6c757d;
text-align: left;
caption-side: bottom;
}

th {
text-align: inherit;
}

label {
display: inline-block;
margin-bottom: .5rem;
}

button {
border-radius: 0;
}

button:focus {
outline: 1px dotted;
outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
button,
input {
overflow: visible;
}

button,
select {
text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
padding: 0;
border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
box-sizing: border-box;
padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
-webkit-appearance: listbox;
}

textarea {
overflow: auto;
resize: vertical;
}

fieldset {
min-width: 0;
padding: 0;
margin: 0;
border: 0;
}

legend {
display: block;
width: 100%;
max-width: 100%;
padding: 0;
margin-bottom: .5rem;
font-size: 1.5rem;
line-height: inherit;
color: inherit;
white-space: normal;
}

progress {
vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

[type="search"] {
outline-offset: -2px;
-webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

::-webkit-file-upload-button {
font: inherit;
-webkit-appearance: button;
}

output {
display: inline-block;
}

summary {
display: list-item;
cursor: pointer;
}

template {
display: none;
}

h1, h2, h3, h4, h5, h6 {
margin-bottom: 12px;
font-family: inherit;
font-weight: 600;
line-height: 1.2;
color: #024099;
}

h1 {
font-size: 60px;
}

h2 {
font-size: 50px;
}

h3 {
font-size: 40px;
}

h4 {
font-size: 30px;
}

h5 {
font-size: 25px;
}

h6 {
font-size: 20px;
}
/***--------------Top header--------------------***/
.topHeader {
    background-color: #F8F8F8;
}
.topHeader .left-section {
    padding: 14px 0px 15px 0px;
}
.topHeader .left-section div {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: #696969;
}

.topHeader .left-section div span {
    font-size: 12px;
    font-weight: 600;
}
.topHeader .right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 0px 12px 70px;
}
.topHeader .right-section div a{
    font-size: 12px;
    font-weight: 500;
    color: #696969;
}
.topHeader .right-section div {
    font-size: 12px;
    font-weight: 500;
    color: #696969;
}
.topHeader .right-section div img {
    width: 20px;
    height: 20px;
}
/**-------------------main Header------------*/
.main-header .nav-section .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-header .nav-section .nav-content .logo-sec a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-section .nav-content .logo-sec .logoTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    font-style: normal;
    padding-left: 26px;
    color: #024099;
}

.nav-section .nav-content .logo-sec .logoTitle span {
    color: #E72078;
}
.triggerBtn{
    display: none;
}
.triggerBtn .trigger1 {
    width: 35px;
    height: 26px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}
.triggerBtn .trigger1 span {
    width: 100%;
    height: 3px;
    display: inline-block;
    border-radius: 2px;
    transform: rotate(0);
    position: absolute;
    transition: all .3s ease-in-out;
    background: #E72078;
}
.trigger1 span:nth-child(2) {
    background: #024099;
    margin-top: 11px;
}
.trigger1 span:nth-child(3) {
    margin-top: 22px;
}
.triggerBtn .trigger1.active span:nth-child(2){
    opacity: 0;
}
.triggerBtn .trigger1.active span:nth-child(1){
    transform: rotate(-45deg);
    margin-top: 10px;
}
.triggerBtn .trigger1.active span:nth-child(3){
    transform: rotate(45deg);
    margin-top: 10px;
}
/* Navigation Styles */

  ul.main-nav {
    list-style-type: none;
    padding: 0px;
    font-size: 0px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  ul.main-nav > li {
    display: inline-block;
    padding: 0;
  }
  ul.main-nav > li > a {
    display: block;
    padding: 26px 20px;
    position: relative;
    color: rgba(18, 18, 18, 0.87);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
  }
  ul.main-nav > li > a[aria-current="page"]{
      color: #E72078;
  }
  ul.main-nav > li:hover {
    background-color: transparent;
  }
  ul.main-nav > li:hover > a {
    color: #E72078;
    font-weight: 400;
  }
  
  ul.main-nav > li ul.sub-menu-lists {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: block;
  }
  
  ul.main-nav > li ul.sub-menu-lists > li {
    padding: 2px 0;
  }
  
  ul.main-nav > li ul.sub-menu-lists > li > a {
    font-size: 14px;
    color: rgb(105, 105, 105);
    font-weight: 500;
    display: block;
  }
  ul.main-nav > li ul.sub-menu-lists > li:hover > a{
    color: #E72078;
  }
  
  .sub-menu-head {
    margin: 10px 0;
  }
  .sub-menu-head.submenuHLink a {
    font-size: 14px;
    color: rgb(105, 105, 105);
    font-weight: 500;
    padding: 2px 0;
    display: block;
}

.sub-menu-head.submenuHLink {
    margin: 5px 0px;
}

.sub-menu-head.submenuHLink a:hover {
    color: #E72078;
}
@media (min-width:991px){
    ul.main-nav > li:hover > div.sub-menu-block {
        background-color: #fff;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      ul.main-nav > li:hover > a.mega-menu span:after {
        transform:rotate(-135deg);
        margin-bottom: -4px;
    }
    ul.main-nav > li > div.sub-menu-block {
        visibility: hidden;
        background-color: #fff;
        position: absolute;
        margin-top: 0px;
        width: 100%;
        left: 0;
        box-sizing: border-box;
        z-index: 3;
        font-size: 16px;
        opacity: 0;
        box-shadow: 0px 2px 7px #1d1c1c33;
        /*CSS animation applied for sub menu : Slide from Top */
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
        -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
        transform-origin: top center;
      }
      ul.main-nav > li:hover > a.mega-menu span:after {
        transform: rotate(-135deg);
        margin-bottom: -4px;
    }
      ul.main-nav > li:hover > div.sub-menu-block.active {
        background-color: #fff;
        visibility: visible;
        opacity: 1;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      ul.main-nav > li:hover > a.mega-menu span:after {
        border-color: #E72078;
    }
    ul.main-nav > li > div.sub-menu-block > * {
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;
        opacity: 0;
      }
    
      ul.main-nav > li:hover > div.sub-menu-block > * {
        opacity: 1;
      }
   }
   ul.main-nav > li > a.mega-menu.active span:after {
    transform:rotate(-135deg);
    margin-bottom: -4px;
    border-color: #E72078;
}
  @media only screen and (min-width: 0px) {
    .ic.menu {
      display: none;
    }
    /* Main Menu for Desktop Devices  */
    ul.main-nav {
      display: block;
    }
    .sub-menu-block {
      padding: 15px;
    }
  
    /* Sub Menu */
    .sub-menu-head {
      font-size: 20px;
    }
  
    /* List Separator: Outer Border */
    header.dark ul.main-nav > li > a {
      border-right: 1px solid #bbb;
    }
    header.light ul.main-nav > li > a {
      border-right: 1px solid #666;
    }
  
    /* Drop Down/Up Arrow for Mega Menu */
    ul.main-nav > li > a.mega-menu > span {
      display: block;
    }
    ul.main-nav > li > a.mega-menu > span:after {
        width: 10px;
        height: 10px;
        content: "";
        background-color: transparent;
        display: inline-block;
        margin-left: 10px;
        border: 1px solid rgba(18, 18, 18, 0.87);
        border-top: none;
        border-left: none;
        margin-bottom: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
    }
  }
  .sub-menu-block.subMenuList .row {
    flex-direction: column;
}

ul.main-nav > li > div.sub-menu-block.subMenuList {
    width: 230px;
    left: 0;
}
ul.main-nav > li > div.sub-menu-block.subMenuList .col-lg-3{
    max-width: 100%;
    flex: 0 0 100%;
}
.sub-menu-block.subMenuList .col-md-3.col-lg-3.col-sm-3 {
    max-width: 100%;
    flex: 0 0 100%;
}

/***--------------slider section--------------***/
.slider-section {
    background-color: rgba(231, 32, 120, 0.05);
}
.slider-section .slider-content {
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 35px 0px;
}
.slider-content .slider-para p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(18, 18, 18, 0.85);
    line-height: 20px;
    text-transform: uppercase;
}
.slider-content .slider-para p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(18, 18, 18, 0.85);
    line-height: 20px;
    text-transform: uppercase;
}

.slider-heading h3 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 38px;
    font-weight: 500;
    line-height: 52px;
}

.slider-heading h3 span {
    color: #E72078;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.slider-heading h3 span.sliderUline img{
    position: absolute;
    width: 100%;
    bottom: -11px;
    left: 0;
    right: 0;
}
.slider-heading {
    margin-top: 24px;
    margin-bottom: 25px;
}

.slider-content .slider-btn a {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    background-color: #E72078;
    font-weight: 600;
    transition: all .3s cubic-bezier(0, -0.05, 0.99, 0.91);
    padding: 12px 30px;
    border: none;
    position: relative;
    z-index: 1;
}
.slider-content .slider-btn a:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #024099;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
    border-radius: 4px;
    left: 0;
    pointer-events: none;
}
.slider-content .slider-btn a:hover:before {
    width: 100%;
}

.slider-section .slider-img {
    padding: 35px 0px;
}
.slider-section .tri-1 {
    content: "";
    position: absolute;
    top: 40px;
    left: 16px;
    width: 0;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    border-top: 0px solid transparent;
}

.slider-section .tri-2 {
    content: "";
    position: absolute;
    top: 58px;
    width: 0;
    right: 24px;
    z-index: 100;
    height: 0;
    border: 40px solid #80ABFF;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(285deg);
    border-top: 0px solid transparent;
}

.slider-section .tri-3 {
    content: "";
    position: absolute;
    bottom: 41px;
    width: 0;
    left: 22px;
    z-index: 100;
    height: 0;
    border: 40px solid #B07FFF;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(67deg);
    border-top: 0px solid transparent;
}

.slider-section .tri-4 {
    content: "";
    position: absolute;
    bottom: 150px;
    width: 0;
    right: 160px;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(80deg);
    border-top: 0px solid transparent;
}
.slider-section .tri-5 {
    content: "";
    position: absolute;
    top: 85px;
    width: 0;
    right: 15px;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(2deg);
    border-top: 0px solid transparent;
}
.slider-section .tri-6 {
    content: "";
    position: absolute;
    bottom:10px;
    width: 0;
    right: 7px;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(60deg);
    border-top: 0px solid transparent;
}
.slider-content-js .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top:25px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.slider-content-js .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: rgba(231, 32, 120, 0.25);
    margin-right: 10px;
    border-radius: 50%;
}
.slider-content-js .slick-dots .slick-active button {
    background-color: #E72078;
  }
#animationSlider{
    border: none;
    width: 100%;
    max-width: 400px;
    height: 400px;
    pointer-events: none;
}
/***------------About Section--------------------****/
.about-section-st {
    background-color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 22px;
}
.about-section-st .main-about {
    padding: 30px 0px;
}

.about-section-st .main-about .about-content {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #696969;
}

.about-section-st .main-about .about-heading h3,.about-section-st .main-about .about-heading h1 {
    font-size: 38px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    color: rgba(18, 18, 18, 0.87);
}

.main-about .about-heading h1 .qty {
    color: #024099;
    font-weight: 700;
}

.main-about .about-heading h1 .qty span {
    color: #E72078;
}

.about-section-st .main-about .about-para p {
    font-size: 16px;
    padding-top: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #696969;
    text-align: center;
}

.about-section-st .main-about .about-btn a {
    color: #E72078;
    font-weight: 600;
    line-height: 20px;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
    text-align: left;
    max-width: 190px;
    margin-left: 60px;
}
.about-section-st .main-about .about-btn a span {
    margin-left: 5px;
    transition: all .3s ease-in-out;
}
.about-section-st .main-about .about-btn a:hover span{
    padding-left: 10px;
}

/**--------------Services section-----------****/
.services-section-st {
    background-color: #F8F8F8;
}

.main-services {
    text-align: center;
    padding: 60px 0px;
    padding-bottom: 40px;
}
.services-section-st .main-services .services-content {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #696969;
}
.services-section-st .main-services .services-heading h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    color: rgba(18, 18, 18, 0.87);
}

.main-services .services-heading h3 span {
    color: #E72078;
    font-weight: 700;
}
.services-section-st .card-serv {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    position: relative;
    box-shadow: 0px 0px 20px #eeeeee;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.services-section-st .card-serv:hover{
    box-shadow: 0px 0px 10px #bebebe91;
}
.card-serv .services-icon {
    display: flex;
    justify-content: center;
    padding: 30px 0px 47px 0px;
}

.card-serv .services-title h5 {
    font-size: 27px;
    color: rgba(18, 18, 18, 0.87);
    font-weight: 500;
}

.card-serv .services-title h5 span {
    color: #E72078;
    font-weight: 700;
}

.service-content-para p {
    font-size: 15px;
    color: #696969;
    line-height: 28px;
    font-weight: 500;
}

.service-content-para {
    margin-bottom: 42px;
}
.card-serv .triangle{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    
}
.card-serv .triangle-1 {
    border-bottom: 30px solid #FE6D6D;
}
.card-serv .triangle-2 {
    border-bottom: 30px solid #B07FFF;
}
.card-serv .triangle-3 {
    border-bottom: 30px solid #b84308;
}
.card-serv .triangle-4 {
    border-bottom: 30px solid #08be26;
}
.card-serv .triangle-5 {
    border-bottom: 30px solid #d20cae;
}
.slider-nav1 .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top:28px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.slider-nav1 .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: rgba(231, 32, 120, 0.25);
    margin-right: 10px;
    border-radius: 50%;
}
.slider-nav1 .slick-dots .slick-active button {
    background-color: #E72078;
  }
.slider-nav1 .slick-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: transparent;
    transition: 0.2s background-color ease-in-out 0s;
    padding: 0;
    border: none;
    position: absolute;
}
.slider-nav1 .slick-arrow:hover{
    background-color: rgba(231, 32, 120, 0.25);
}
.slider-nav1 .slick-next {
    right: calc(50% - 120px);
    bottom: 25px;
}
.slider-nav1 .slick-prev {
    left: calc(50% - (130px));
    bottom: 25px;
}
.slider-nav1 .slick-next:before {
    content: url(./images/Arrowforword.png);
    line-height: 60px;
}

.slider-nav1 .slick-prev:before {
    content: url(./images/ArrowBack.png);
    line-height: 60px;
}
.services-section-st .learnMore a {
    color: #E72078;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.services-section-st .learnMore {
    position: absolute;
    right: 19px;
    top: -60px;
    width: 100%;
    max-width: 150px;
}
.services-section-st .learnMore a span{
    transition: all .3s ease-in-out;
}
.services-section-st .learnMore:hover a span{
    margin-left: 10px;
}
/*****---------Work process----------****/
.main-work-title {
    padding-top: 60px;
}
.work-process .para-content p {
    color: #696969;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.main-work-title .heading-content h3 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 56px;
}

.main-work-title .heading-content h3 span {
    color: #024099;
    font-weight: 700;
}
.main-work-title .heading-content h3 span span{
    color: #E72078;
}

.main-work-title .heading-content {
    padding-bottom: 48px;
}
.card-main .card-number div {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: rgba(18, 18, 18, 0.87);
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    transition: all .3s ease-in;
    background-color: #FFFFFF;
    color: rgba(18, 18, 18, 0.87);
    border-radius: 50%;
    box-shadow: 0px 0px 20px #eeeeee;
    
}
.card-main:hover .card-number div{
    background-color: #E72078;
    color: #fff;
}
.card-main .card-number div.active {
    background-color: #E72078;
    color: #fff;
}
.card-main:hover .card-number div span{
    color: #fff;
    animation: border-pulse1 1.2s infinite;
    border: 1.5px solid #E72078;
    transition: all .3s ease-in;
}
.card-main .card-number div span {
    width: 48px;
    height: 48px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
}
.card-main .card-number div.active span {
    animation: border-pulse1 1.2s infinite;
    border: 1.5px solid #E72078;
    transition: all .3s ease-in;
}
@keyframes border-pulse1
{
  0% {
    width: 48px;
    height: 48px;
    border: 1.5px solid #E72078;
  }
  100% {
    width: 80px;
    height: 80px;
    border: 1.5px solid #e7207800;
  }
}

.card-main .card-number {
    margin-bottom: 30px;
}
.hr-line:before {
    content: "";
    width: 73%;
    position: absolute;
    height: 1px;
    background-color: #EEEEEE;
    margin-left: 37px;
    top: 23px;
}

.hr-line {
    position: relative;
}

.card-main .card-head h5 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 0px;
}

.card-main .card-para p {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 24px;
}
.work-process .tri-7 {
    content: "";
    position: absolute;
    bottom: 150px;
    width: 0;
    left: 37%;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(80deg);
    border-top: 0px solid transparent;
}
.work-process .tri-8 {
    content: "";
    position: absolute;
    top: 92px;
    width: 0;
    right: 85px;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(261deg);
    border-top: 0px solid transparent;
}
.work-process .tri-9 {
    content: "";
    position: absolute;
    top: 187px;
    width: 0;
    left: 67%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(5deg);
    border-top: 0px solid transparent;
}
/********----------recent-work-section---------------****/
.recent-work-section {
    margin-bottom: 41px;
}

.recent-work-slider .recent-work-title p {
    color: #696969;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.recent-work-slider .recent-work-heading h4 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 38px;
    line-height: 56px;
    font-weight: 500;
}

.recent-work-slider .recent-work-heading h4 span {
    color: #4285F4;
    font-weight: 700;
    position: relative;
}
.recent-work-slider .recent-work-heading h4 span:before {
    /* content: url(./images/vector2.png); */
    position: absolute;
    top: 18px;
    right: -12px;
}

.recent-work-slider .recent-work-heading h4 span span {
    color: #FB802A;
}

.recent-work-para p {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.recent-work-para {
    padding-top: 30px;
}

.recent-work-heading {
    padding-top: 24px;
}

.recent-work-slider {
    padding-top: 140px;
    position: relative;
}
.recent-work-slider .recent-work-btn a {
    background-color: #E72078;
    padding: 13px 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
    line-height: 20px;
    display: inline-block;
    font-weight: 600;
    transition: all .3s cubic-bezier(0, -0.05, 0.99, 0.91);
    text-transform: uppercase;
    border: none;
    z-index: 1;
}
.recent-work-slider .recent-work-btn a:before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background: #024099;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
    border-radius: 4px;
    left: 0;
    pointer-events: none;
}

.recent-work-slider .recent-work-btn a:hover:before{
    width: 100%;
}
.recent-work-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}

.recent-work-section .recent-work-login {
    margin-top: 57px;
}
.recent-work-slider .tri-10 {
    content: "";
    position: absolute;
    top: 78px;
    width: 0;
    right: -3px;
    z-index: 100;
    height: 0;
    border: 40px solid #B07FFF;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(352deg);
    border-top: 0px solid transparent;
}
.recent-work-slider .tri-11 {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    right: 39px;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(243deg);
    border-top: 0px solid transparent;
}
.recent-work-section .tri-12 {
    content: "";
    position: absolute;
    bottom: -9px;
    width: 0;
    right: 82px;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(243deg);
    border-top: 0px solid transparent;
}
.work-slider-nav .slick-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: transparent;
    transition: 0.2s background-color ease-in-out 0s;
    padding: 0;
    border: none;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 0px 20px #eeeeee;
}
.work-slider-nav .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
    bottom: 6px;
    padding-left: 0px;
    margin-bottom: 0;
}
.work-slider-nav .slick-prev {
    left: 15px;
    bottom: 0px;
}
.work-slider-nav .slick-dots li button {
    transition: background-color 0.2s ease-in-out 0s;
    border: none;
    padding: 0px;
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: rgba(231, 32, 120, 0.25);
    margin-right: 10px;
    border-radius: 50%;
}
.work-slider-nav .slick-arrow:hover {
    background-color: rgba(231, 32, 120, 0.25);
}
.work-slider-nav .slick-next {
    left: 22%;
    bottom: 0px;
}
.work-slider-nav .slick-next:before {
    content: url(./images/Arrowforword.png);
    line-height: 60px;
}
.work-slider-nav .slick-prev:before {
    content: url(./images/ArrowBack.png);
    line-height: 60px;
}

.work-slider-nav .slick-dots .slick-active button {
    background-color: #E72078;
  }
/****-------------Footer Section------------*****/
.footer-section {
    background-color: rgba(231, 32, 120, 0.05);
    padding: 50px 0px;
}
.footer-left-side .footer-head h5 {
    color: #024099;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer-left-side .footer-head h5 span {
    color: #E72078;
}

.footer-logo {
    padding-bottom: 20px;
}

.footer-left-side .footer-head h5 span span {
    color: #E72078;
}

.footer-address p {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.footer-phone p {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}

.footer-phone {
    padding-top: 16px;
}
.footer-middle-side h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #024099;
    margin-bottom: 24px;
}

.footer-right-side h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #024099;
    margin-bottom: 24px;
}
.footer-middle-side .footer-middle-menu ul {
    padding-left: 0;
    margin-bottom: 0px;
}
.footer-middle-side .footer-middle-menu {
    display: flex;
    justify-content: space-between;
}

.footer-middle-menu ul li a {
    color: #696969;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}
.footer-middle-menu ul li a:hover{
    color: #E72078;
}
.footer-right-side ul {
    margin-bottom: 0px;
}

.footer-right-side ul li a {
    color: #696969;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}
.footer-right-side ul li a:hover{
    color:#E72078;
}
.footer-center .second-menu h6 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #024099;
    margin-bottom: 24px;
}

.footer-center .second-menu li a {
    color: #696969;
    font-size: 16px;
    line-height: 36px;
    font-weight: 500;
}
.footer-center .second-menu li a:hover{
    color:#E72078;
}
.footer-center ul {
    padding-left: 0;
    margin-bottom: 0;
}
.footer-social-icon ul {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    justify-content: end;
}

.copy-right p {
    color: #696969;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: left;
}

.footer-social-icon ul li a {
    background-color: #E72078;
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
    transition: all .3s cubic-bezier(0, -0.05, 0.99, 0.91);
    background: linear-gradient(to bottom, #024099 50%, #E72078 50%);
    background-size: 100% 200%;
    border: none;
    background-position: bottom left;
}

.footer-social-icon ul li {
    padding-left: 10px;
}
.footer-copy {
    align-items: center;
    padding-top: 46px;
}
.copy-right span:hover {
    color: #E72078;
}
.footer-social-icon ul li a:hover {
    background-position: top left;
}



/***Banner section*****/
.banner-wrap {
    background: center center;
    background-size: cover;
    padding: 80px 0px;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}
.banner-wrap .banner p {
    color: rgba(18, 18, 18, 0.85);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.banner-wrap .banner h4 {
    font-size: 38px;
    color: rgba(18, 18, 18, 0.87);
    font-weight: 500;
}
.banner-wrap:before {
    background: rgba(231, 32, 120, 0.05);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}
.banner-wrap .tri-1 {
    content: "";
    position: absolute;
    top: 40px;
    width: 0;
    left: 100px;
    z-index: 1;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(6deg);
    border-top: 0px solid transparent;
}
.banner-wrap .tri-2 {
    content: "";
    position: absolute;
    top: 31px;
    width: 0;
    left: 38%;
    z-index: 1;
    height: 0;
    border: 40px solid #80ABFF;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(285deg);
    border-top: 0px solid transparent;
}
.banner-wrap .tri-3 {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    right: 80px;
    z-index: 1;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(348deg);
    border-top: 0px solid transparent;
}
.aboutPage1 .tri-1 {
    content: "";
    position: absolute;
    top: 46px;
    width: 0;
    left: 27%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(72deg);
    border-top: 0px solid transparent;
}
.aboutPage1 .tri-2 {
    content: "";
    position: absolute;
    bottom: 30px;
    width: 0;
    left: 7%;
    z-index: 100;
    height: 0;
    border: 40px solid #B07FFF;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(71deg);
    border-top: 0px solid transparent;
}
.aboutPage1 .tri-3 {
    content: "";
    position: absolute;
    top: 82%;
    width: 0;
    right: 5%;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(78deg);
    border-top: 0px solid transparent;
}
.aboutPage1{
    position: relative;
}

/* leader section */

.LeadershipSection {
    padding-top: 60px;
    position: relative;
}
.LeadershipSection .tri-1 {
    content: "";
    position: absolute;
    top: 52px;
    width: 0px;
    left: 42%;
    z-index: 100;
    height: 0px;
    border-width: 0px 30px 30px 0px;
    border-style: solid;
    border-color: transparent transparent #FFEA7F;
    border-image: initial;
    transform: rotate(59deg);
}
.LeadershipSection .tri-2 {
    content: "";
    position: absolute;
    top: 90px;
    width: 0;
    right: 16%;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(254deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-3 {
    content: "";
    position: absolute;
    top: 12.5%;
    width: 0;
    left: 54%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(1deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-4 {
    content: "";
    position: absolute;
    top: 46%;
    width: 0;
    left: 44%;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(72deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-5 {
    content: "";
    position: absolute;
    bottom: 42%;
    width: 0;
    right: 20%;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(256deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-6 {
    content: "";
    position: absolute;
    top: 60.4%;
    width: 0;
    right: 39%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(359deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .LeadershipTitle p {
    color: #696969;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.LeadershipSection .LeadershipHeading h5 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.LeadershipSection .LeadershipPara p {
    color: #696969;
    font-size: 16px;
    font-weight: 500;
}

.LeadershipSection .LeadershipPara {
    margin-bottom: 34px;
}

.LeadershipSection .card-leader {
    border: 1px solid #EEEEEE;
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.LeadershipSection .card-leader .leader-img {
    padding-top: 5px;
    margin: auto;
    padding-bottom: 36px;
    display: flex;
    justify-content: center;
}

.LeadershipSection .card-leader .leader-title h6 {
    color: rgba(18, 18, 18, 0.87);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 8px;
}

.LeadershipSection .card-leader .leader-content-para .designation {
    color: rgba(18, 18, 18, 0.85);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;
}

.LeadershipSection .card-leader .leader-content-para p {
    color: rgba(18, 18, 18, 0.54);
    font-size: 15px;
    font-weight: 500;
}
.card-leader .social-icons {
    padding-top: 24px;
    padding-bottom: 15px;
}

.card-leader .social-icons a {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 5px;
    transition: all .3s cubic-bezier(0, -0.05, 0.99, 0.91);
    background: linear-gradient(to bottom, #024099 50%, #E72078 50%);
    background-size: 100% 200%;
    border: none;
    background-position: bottom left;
}
.card-leader .social-icons a:hover {
    background-position: top left;
}
.Leader-Team {
    padding-bottom: 90px;
}
.Leader-Team .slick-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: transparent;
    transition: 0.2s background-color ease-in-out 0s;
    padding: 0;
    border: none;
    position: absolute;
    box-shadow: 0px 0px 8px rgb(37 37 37 / 12%);
}
.Leader-Team .slick-arrow:hover{
    background-color: rgba(231, 32, 120, 0.25);
}
.Leader-Team .slick-next {
    right: calc(0% + (15px));
    bottom: 25px;
}
.Leader-Team .slick-prev {
    right: calc(0% + (130px));
    bottom: 25px;
}
.Leader-Team .slick-next:before {
    content: url(./images/Arrowforword.png);
    line-height: 60px;
}

.Leader-Team .slick-prev:before {
    content: url(./images/ArrowBack.png);
    line-height: 60px;
}
.LeadershipSection .tri-1 {
    content: "";
    position: absolute;
    top: 52px;
    width: 0px;
    left: 42%;
    z-index: 100;
    height: 0px;
    border-width: 0px 30px 30px 0px;
    border-style: solid;
    border-color: transparent transparent #FFEA7F;
    border-image: initial;
    transform: rotate(59deg);
}
.LeadershipSection .tri-2 {
    content: "";
    position: absolute;
    top: 90px;
    width: 0;
    right: 16%;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(254deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-3 {
    content: "";
    position: absolute;
    top: 12.5%;
    width: 0;
    left: 54%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(1deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-4 {
    content: "";
    position: absolute;
    top: 46%;
    width: 0;
    left: 44%;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(72deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-5 {
    content: "";
    position: absolute;
    bottom: 42%;
    width: 0;
    right: 20%;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(256deg);
    border-top: 0px solid transparent;
}
.LeadershipSection .tri-6 {
    content: "";
    position: absolute;
    top: 60.4%;
    width: 0;
    right: 39%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(359deg);
    border-top: 0px solid transparent;
}
/**********Contact Page css***********/
.contactForm {
    padding: 40px 0px;
    position: relative;
}
.contactForm .contactF {
    padding-top: 40px;
}
.contactForm .tri-1 {
    content: "";
    position: absolute;
    top: 28px;
    width: 0;
    left: 34%;
    z-index: 100;
    height: 0;
    border: 30px solid #FFEA7F;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(72deg);
    border-top: 0px solid transparent;
}
.contactForm .tri-2 {
    content: "";
    position: absolute;
    bottom: 75px;
    width: 0;
    left: 11%;
    z-index: 100;
    height: 0;
    border: 40px solid #FFB967;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(260deg);
    border-top: 0px solid transparent;
}
.contactForm .tri-3 {
    content: "";
    position: absolute;
    top: 54%;
    width: 0;
    left: 55%;
    z-index: 100;
    height: 0;
    border: 30px solid #FE6D6D;
    border-left: 0px solid transparent;
    border-right: 30px solid transparent;
    transform: rotate(10deg);
    border-top: 0px solid transparent;
}
.contactForm .contactF .inputField {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.contactForm .contactF .inputField div{
    position: relative;
}
.contactForm .contactF .inputField div span {
    position: absolute;
    right: 18px;
    top: 8px;
}
.contactForm .contactF .inputField div .rotate1 {
    transform: rotate(264deg);
}
.contactForm .contactF .inputField input {
    outline: none;
    border: 1px solid rgba(18, 18, 18, 0.54);
    border-radius: 8px;
    height: 45px;
}
.contactForm .contactF textarea{
    height: 216px;
    padding: 0;
    margin: 0;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(18, 18, 18, 0.54);
    border-radius: 8px;
    display: block;
}
.contactForm .contactF .textareaBox {
    position: relative;
}
.contactForm .contactF .textareaBox span {
    position: absolute;
    top: 12px;
    right: 18px;
}
.contactForm .contactF .inputField input:focus {
    outline: none;
    box-shadow: none;
}
.form-control::placeholder{
    color: #696969;
    font-size: 16px;
    font-weight: 500;
}
.servicesHeading {
    margin: 0;
    font-size: 16px;
    color: #696969;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}

.servicesBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicesBtn .btnfirst1 {
    display: flex;
    justify-content: space-between;
}

.servicesBtn .btnSecond2 {
    display: flex;
    justify-content: space-between;
}

.servicesBtn .btnfirst1 div {
    margin-right: 15px;
}

.servicesBtn .btnSecond2 div {
    margin-left: 15px;
}
.servicesBtn div a {
    font-size: 16px;
    font-weight: 500;
    color: #696969;
    border: 1px solid #696969;
    padding: 12px 19px;
    border-radius: 8px;
    display: inline-block;
}

.servicesBtn div a.active,.servicesBtn div a:hover {
    color: #E72078;
    border-color: #E72078;
}

.sendMessageBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.sendMessageBtn a {
    background-color: #E72078;
    width: 100%;
    max-width: 312px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    color: #fff;
    padding: 15px 0px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}
.sendMessageBtn a:before {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    background: #024099;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: all .4s ease-in-out;
    z-index: -1;
    border-radius: 4px;
    left: 0;
    pointer-events: none;
}
.sendMessageBtn a:hover:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.addressBox .locationArea {
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
}

.addressBox .locationArea .adHead h5 {
    color: #024099;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}

.addressBox .locationArea .addPlace p {
    color: rgba(18, 18, 18, 0.87);
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 500;
}

.addressBox .locationArea .addPlace {
    padding-left: 52px;
}
.addressBox .locationArea .addPlace h6 {
    color: #E72078;
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 700;
}
.addressBox .locationArea .adHead h5 span {
    display: inline-block;
    margin-right: 10px;
}
